body {
  margin: auto;
  background: #303030;
}

.main-title {
  text-align: center;
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bold;
}

.main-logo {
  margin-top: 50px;
}

.navbar {
  padding: 10px;
  text-align: center;
  margin-bottom: 5vh;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}

.floating-button {
  height: max-content; 
  width: max-content;
  position: fixed;
  right: 40px;
  bottom: 40px;
  border-radius: 50px;
  background-color: lightpink	;
  font-weight: bold;
  /* text-decoration: none; */
  color: whitesmoke;
}

.floating-button:hover {
  font-size: larger;
  box-shadow: 0px 0px 8px 8px rgb(255,255,255);

  /* box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset; */
  transition:all 0.9s, color 0.3;  

}

.img {
  text-align: justify;
  float: left;
  margin: 0vh 0.3vw;
}

.img-box {
  margin: 2vh 2vw;
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
}

.whole-container {
  text-align: center;
  width: 100vw;
  height: max-content;
}

.dust-sheet {
  background-color: lightgray;
  margin: 0vh 1vw 0vh 2vw;
  display: inline-block;
  width: 45vw;
  height: 60vh;
  border-radius: 10px;
  padding-top: 5vh;
}

.dust-info {
  /* margin-top: 4vh; */
}

.weather-sheet {
  background-color: lightgray;
  margin: 0vh 2vw 0vh 1vw;
  display: inline-block;
  width: 45vw;
  height: 60vh;
  border-radius: 10px;
  padding-top: 5vh;
  text-align: center;

}

.whole-container-picture {
  margin: 20vh 2vw;
  text-align: center;
}

.picture-sheet-title {
  display: inline-block;
  background-color: lightgray;
  margin: 0vh 2vw 3vh 2vw;
  width: 90vw;
  height: max-content;
  border-radius: 10px;
}

.picture-sheet {
  display: inline-block;
  background-color: lightgray;
  margin: 0vh 1.5vw;
  width: 20vw;
  height: 55vh;
  border-radius: 10px;
}

.todo-sheet {
  background-color: lightgray;
  margin: 20px;
  display: inline-block;
  width: 90vw;
  height: 30vh;
  border-radius: 10px;

}

.footer {
  text-align: center;
  background-color: lightskyblue;
  padding: 5vh;
  margin-top: 20vh;
  width: 100%;
  position: static;
}

.ootd-text {
  color: white;
  font-weight: bold;
}

.ootd-sheet {
  background-color: lightgray;
  margin: 10vh;
  border-radius: 10px;
  padding: 5vh 0vh;
}

.ootd-sheet-title {
  text-align: center;
}

.ootd-sheet-checkbox {
  /* background-color: white; */
  margin: 7vh 8vw;
  font-size: large;
  color: black;
}

.ootd-sheet-submit {
  text-align: center;
}

.ootd-submit-button {
  font-size: x-large;
  background-color: lightskyblue	;
  font-weight: bold;
  color: whitesmoke;
  border: none;
  border-radius: 30px;
  width: 10vw;
  height: 8vh;
  cursor: pointer;  
}

.checkbox-margin {
  margin-right: 0.5vw;
  margin-left: 1.5vw;
}