body {
  margin: 0;
  background: #303030;

}

.main-title {
  text-align: center;
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bold;
}

.main-logo {
  margin-top: 50px;
}

.navbar {
  padding: 10px;
  text-align: center;
  margin-bottom: 5vh;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}

.floating-button {
  height: max-content; 
  width: max-content;
  position: fixed;
  right: 40px;
  bottom: 40px;
  border-radius: 50px;
  background-color: skyblue;

  font-size: larger;
  font-weight: bold;
  /* text-decoration: none; */
  color: whitesmoke;
}

.img {
  text-align: justify;
  float: left;
  margin: 0vh 0.3vw;
}

.img-box {
  margin: 2vh 2vw;
}


.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
}

.whole-container {
  text-align: center;
  width: 100%;
  height: 100%;
}

.dust-sheet {
  background-color: lightgray;
  margin: 20px;
  display: inline-block;
  width: 45vw;
  height: 30vh;
  border-radius: 10px;
}

.weather-sheet {
  background-color: lightgray;
  margin: 20px;
  display: inline-block;
  width: 45vw;
  height: 30vh;
  border-radius: 10px;
}

.clothes-sheet {
  background-color: lightgray;
  margin: 20px;
  display: inline-block;
  width: 15vw;
  height: 30vh;
  border-radius: 10px;
}

.picture-sheet {
  background-color: lightgray;
  margin: 20px;
  display: inline-block;
  width: 75vw;
  height: 30vh;
  border-radius: 10px;
}

.todo-sheet {
  background-color: lightgray;
  margin: 20px;
  display: inline-block;
  width: 90vw;
  height: 30vh;
  border-radius: 10px;

}

.footer {
  text-align: center;
  background-color: blanchedalmond;
  padding: 5vh;
  margin-top: 20vh;
  width: 100%;
  position: static;
}

.ootd-text {
  color: white;
  font-weight: bold;
}